<h1><%= @portfolios["name"] %></h1>
<main>
  <%= form_with(url: new_stocks_path(@portfolios.id), method: "get", local:true) do %>
        <input type="text" name="symbol" placeholder="Stock Name">
    <button type="submit">Add Stock</button>
  <% end %>
  <br>
  <% if @portfolios.stocks.all %>
    <div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Open</th>
      <th scope="col">High</th>
      <th scope="col">Low</th>
      <th scope="col">Price</th>
      <th scope="col">Previous Close</th>
      <th scope="col">Change</th>
    </tr>
    </thead>
    <tbody>
    <% @stocks.each do |stock| %>
    <tr>
      <td><%= stock.symbol %></td>
      <td><%= stock.open %></td>
      <td><%= stock.high %></td>
      <td><%= stock.low %></td>
      <td><%= stock.price %></td>
      <td><%= stock.previous_close %></td>
      <td><%= stock.change%></td>
    <% end %>
    </tr>
    </tbody>
  </table>
          </ul>
          <% else puts 'No Moods' %> # need to get this working.
      <% end %>
</div>
  </div>
  </div>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
      import * as google from "chartkick";

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
          var data = google.visualization.arrayToDataTable([
              ['Year', 'Sales', 'Expenses'],
              ['2004',  1000,      400],
              ['2005',  1170,      460],
              ['2006',  660,       1120],
              ['2007',  1030,      540]
          ]);

          var options = {
              title: 'Company Performance',
              curveType: 'function',
              legend: { position: 'bottom' }
          };

          var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

          chart.draw(data, options);
      }
  </script>
      </main>
